<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- ngCordova-Oauth js-->
    <script src="js/ng-cordova.js"></script>
    <script src="js/ng-cordova-oauth.js"></script>
    <script src="js/sha1.js"></script>

    <!-- ngStorage js-->
    <script src="js/ngStorage.min.js"></script>

    <!-- Bootstrap CSS -->
    <script src="js/bootstrap.min.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

  </head>
  <body ng-app="starter">   
    <ion-pane class="home" ng-controller="homeController">
      <ion-header-bar class="bar-stable">
          <center> 
              <!-- maybe move this to the settings page??? -->
                <input id="query" type="text" placeholder="Search for a Subreddit" ng-model="input"></input>
          </center> 
          <button class="btn btn-primary" ng-click="redditUpdate()">Refresh</button>     
          <!-- <button class="btn btn-primary" ng-click="instagram Update()">Refresh</button>      -->
          <button class="btn btn-danger" ng-click="resetAll()">Settings</button>
          <button class="btn btn-success" ng-click="instagramLogin()">Add</button>
      </ion-header-bar>
      <ion-content>       
        <center>          
         <!-- <br><br>
            <button class="btn btn-danger" ng-click="instagramLogin()">IG Login</button>
            <button class="btn btn-danger" ng-click="update()">Update Feed</button>
            <button class="btn btn-danger" ng-click="resetAll()">Delete Cache</button>
          <br><br> -->
          <br><br>
          <br><br>
           <ion-avatar item-start>
              <img id="avi" src="{{$storage.profile_picture}}" width="70px">
              <h4 class="text-danger text-center">{{$storage.username}} </h4>
              <br>
              <img id="width" src="{{$storage.image_post[0]}}">
              <br>
              <br>
              <p>{{$storage.caption_text[0]}}</p>
              <p>{{$storage.created_time[0]}}</p>
          </ion-avatar>
          <br><br>
          <ion-avatar item-start>
              <img id="avi" src="{{$storage.profile_picture}}" width="70px">
              <h4 class="text-danger text-center">{{$storage.username}} </h4>
              <br>
              <img id="width" src="{{$storage.image_post[1]}}">
              <br>
              <br>
              <p>{{$storage.caption_text[1]}}</p>
              <p>{{$storage.created_time[1]}}</p>
          </ion-avatar>
          <br><br>
          <ion-avatar item-start>
              <img id="avi" src="{{$storage.profile_picture}}" width="70px">
              <h4 class="text-danger text-center">{{$storage.username}} </h4>
              <br>
              <img id="width" src="{{$storage.image_post[2]}}">
              <br>
              <br>
              <p>{{$storage.caption_text[2]}}</p>
              <p>{{$storage.created_time[2]}}</p>
          </ion-avatar>
          <br><br>
          <ion-avatar item-start>
              <img id="avi" src="{{$storage.profile_picture}}" width="70px">
              <h4 class="text-danger text-center">{{$storage.username}} </h4>
              <br>
              <img id="width" src="{{$storage.image_post[3]}}">
              <br>
              <br>
              <p>{{$storage.caption_text[3]}}</p>
              <p>{{$storage.created_time[3]}}</p>
          </ion-avatar>
          <br><br>
          <ion-avatar item-start>
              <img id="avi" src="{{$storage.profile_picture}}" width="70px">
              <h4 class="text-danger text-center">{{$storage.username}} </h4>
              <br>
              <img id="width" src="{{$storage.image_post[4]}}">
              <br>
              <br>
              <p>{{$storage.caption_text[4]}}</p>
              <p>{{$storage.created_time[4]}}</p>
          </ion-avatar>
      </center>
      </ion-content>            
      </ion-pane>      
  </body>
</html>
